RewriteEngine On

# 处理文件列表和删除
RewriteRule ^files$ files.php [QSA,L]
RewriteRule ^files/([0-9a-zA-Z]+)$ files.php?id=$1 [QSA,L]

# 处理文件上传
RewriteRule ^files/upload$ files_upload.php [QSA,L]

# 处理文件预览
RewriteRule ^files/([0-9a-zA-Z]+)/preview$ files_preview.php?id=$1 [QSA,L]
