node_modules/
unpackage/
dist/
.DS_Store
*.log
local.properties
*.local
vendor/
.env
*.ipa
.hermes/
server/api/check_update_patched.php
server/
admin-web/

# 构建产物
admin-vue-dist/
*.apk

# 临时脚本
cleanup_final.py
